@media (max-width: 768px) {
  .title {
    font-size: 18px;
  }
  .newLagerung {
    display: flex;
    justify-content: center;
    width: 100vw;
    align-items: center;
  }
  .contentLager {
    margin-top: 20%;
    width: 100vw;
    flex-wrap: wrap;
  }
}
