@media (max-width: 768px) {
  .title {
    font-size: 18px;
  }
  .newRechnung {
    display: flex;
    justify-content: center;
    width: 100vw;
    align-items: center;
  }
  .contentRechnung {
    margin-top: 20%;
    width: 100vw;
    flex-wrap: wrap;
  }
}
